.my-container {
    margin: auto;
    vertical-align: middle;
    margin: auto;
    margin-top: -25%;
    width: 60%;
    height: 20%;
    z-index: 5;


}

.search-container {
    width: 80%;
    float: left;
}

.search-submit-btn {
    width: 100px;
    min-width: fit-content;
    margin-left: 1%;
    float: left;
    background: BlueViolet;
    height: 37px;
    border-radius: 5px;
    color: white;
    border: 0;

}

.search-submit-btn:hover {
    opacity: 85%;
}

.wide-search-btn {
    width: 50px;
    min-width: fit-content;
    margin-left: 1%;
}

.div-search-employee {
    margin-top: 10px;
}

.search-employee {

    color: white;
}

.search-employee:hover {
    color: MediumPurple;
}

