.my-container {
    margin: auto;
    vertical-align: middle;
    margin-top: 100px;
    width: 60%;
    height: 20%;
    z-index: 5;
    position:absolute; /* добавили */
	top: 200px;
	left: 300px;

}

.search-container {
    width: 80%;
    float: left;
}

.search-submit-btn {
    width: 10%;
    margin-left: 1%;
    float: left;
    background: BlueViolet;
    height: 37px;
    border-radius: 5px;
    color: white;
    border: 0;

}

.search-submit-btn:hover {
    opacity: 85%;
}

.wide-search-btn {
    width: 6%;
    margin-left: 1%;
}

.div-search-employee {
    margin-top: 10px;
}

.search-employee {

    color: white;
}

.search-employee:hover {
    color: MediumPurple;
}

