{% extends 'base.html' %}

{% block content %}


    <div class="album py-5 bg-light" >
        <div class="container" >
          <div class=" mr-md-1 pt-1 px-1 pt-md-1 px-md-1 ">
            <div class="bg-light  mx-auto" style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
            <div>
                <div class="card shadow-sm " >
                    <img src="{{ book.cover.url }}" class="rounded mx-auto d-block mt-4" width="20%">
                    <div class="card-body" >
                        <h4 class="card-text text-center">+++++</h4>
                        <h5 class="card-text text-center">Summary</h5>
                        <p class="card-text">+++++++</p>
                    </div>
                </div>
            </div>
            </div>
          </div>


            </div>
        </div>
    </div>

{% endblock %}